PORT=3000
NODE_ENV=development

# PostgreSQL (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/purple_merit?schema=public"

# MongoDB
MONGO_URI="mongodb://localhost:27017/purple_merit"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Security
JWT_SECRET="your-256-bit-secret"
JWT_REFRESH_SECRET="your-256-bit-refresh-secret"
